html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  background-color: #ededed;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
input[type="text"],
input[type="date"],
input[type="time"] {
  height: 32px;
}
select,
input,
textarea {
  min-height: 32px;
  padding: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-family: inherit;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="time"],
select {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.ui-profile {
  border-radius: 5px;
}
@media screen and (min-width: 641px) {
  body {
    background: white;
  }
  #framework {
    position: relative;
  }
  #header {
    border-bottom: 1px solid #d6d6d6;
  }
  #header .center {
    width: 1200px;
    line-height: 80px;
    height: 80px;
    margin: auto;
    text-align: right;
  }
  #header .center .logo {
    margin-top: 20px;
    display: inline-block;
    height: 40px;
    float: left;
  }
  #header .center .business-logo {
    margin-top: 25px;
    height: 28px;
  }
  #header .center .list-tab {
    margin-left: 100px;
    float: left;
  }
  #header .center .page-tab {
    font-size: 2rem;
  }
  #header .center .page-tab + .page-tab {
    margin-left: 50px;
  }
  #header .center .active {
    color: #00b7ee;
  }
  .umt-account-status {
    display: inline-block;
    vertical-align: top;
  }
  .umt-account-status .account-name {
    display: inline-block;
    margin-right: 20px;
  }
  .umt-account-status .blue {
    color: #00b7ee;
  }
  #headerPic {
    width: 100%;
    background-size: cover;
  }
  .main {
    min-height: 800px;
    width: 1200px;
    margin: auto;
    margin-top: 40px;
  }
  .main .menu {
    display: none;
    float: left;
  }
  .main .menu .active-i {
    display: inline-block;
    width: 2px;
    height: 58px;
    position: absolute;
    background: #00b8ec;
  }
  .main .menu ul {
    margin: 0;
    padding: 0;
    width: 180px;
    text-align: right;
    list-style: none;
  }
  .main .menu ul li {
    border-top: 1px solid #d6d6d6 ;
    font-size: 2rem;
    height: 58px;
    line-height: 58px;
    padding-right: 20px;
  }
  .main .menu ul li:last-child {
    border-bottom: 1px solid #d6d6d6 ;
  }
  .main .menu ul .active {
    color: #00b8ec;
    border-right: 1px solid #00b8ec;
  }
  .main .scroll {
    width: 180px;
  }
  .main .scroll ul {
    top: 40px;
    position: fixed;
  }
  .main #wrapPage {
    width: 100%;
  }
  .two-col {
    text-align: right;
  }
  .two-col .menu {
    display: block;
  }
  .two-col #wrapPage {
    width: 80%;
    text-align: left;
    display: inline-block;
  }
  .full-page {
    width: 100%;
  }
  #footer {
    padding: 20px;
    border-top: 1px solid #d6d6d6;
    text-align: center;
    background: #fafafa;
    color: #737373;
  }
  #footer div:first-child {
    margin-bottom: 15px;
  }
  #footer a {
    padding: 0 15px;
  }
  #footer a + a {
    line-height: 1.4rem;
    border-left: 1px solid #737373;
  }
  #footer .tel {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
  }
  .umt-index-header-home {
    color: white;
    line-height: 400px;
    height: 250px;
    background: url("img/home/main-title.jpg") center;
    background-size: cover;
    font-size: 5.5rem;
    text-align: center;
  }
  .umt-index-header-about {
    height: 250px;
    background: url("img/about/main-title.jpg") center;
  }
  .umt-index-header-join {
    height: 250px;
    background: url("img/join/main-title.jpg") center;
  }
}
@media screen and (max-width: 640px) {
  .umt-account-status {
    display: inline-block;
    position: absolute;
    right: 50px;
    top: 13px;
  }
  .umt-account-status .account-name {
    display: none;
  }
  .umt-account-status .account-status {
    min-width: 60px;
    padding: 3px 10px;
    height: 32px;
    line-height: 30px;
    border-radius: 2px;
    border: 1px solid #00a5d4;
    color: #fff;
    background-color: #00b9ed;
    cursor: pointer;
    box-sizing: border-box;
  }
  .umt-account-status .login {
    border: 1px solid #ff7900;
    background-color: #ff7900;
  }
  .mobile-tab {
    position: relative;
  }
  .mobile-tab i {
    position: absolute;
    top: -40px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #636363;
    display: inline-block;
  }
  .mobile-tab i:after,
  .mobile-tab i:before {
    content: '';
    display: block;
    background-color: white;
    width: 100%;
    height: 5px;
    margin-top: 5px;
  }
  .mobile-tab div {
    width: 100%;
    display: none;
    background-color: #f5f5f5;
  }
  .mobile-tab div a {
    padding: 15px;
    display: block;
  }
  .mobile-tab div a + a {
    border-top: 1px solid #e8e8e8;
  }
  .mobile-tab div .active {
    color: #4e96bf;
  }
  .mobile-line > * {
    display: block;
    background-color: white;
    padding: 15px 20px;
    font-size: 1rem;
  }
  .mobile-line a {
    border-bottom: 1px solid #ececec;
  }
  .mobile-line a:after {
    content: '>';
    font-size: 2rem;
    float: right;
    margin-top: -0.5rem;
  }
  .mobile-line > span .tel {
    color: #00a5d4;
  }
  .mobile-line > span .tel:before {
    color: #666666;
    content: "客服电话:";
  }
  .mobile-line > span span:nth-child(2) {
    float: right;
  }
  .connect {
    text-align: center;
  }
  .connect button {
    width: 100%;
    background: white;
    color: black;
    border-color: black;
  }
  .menu ul {
    padding: 0;
    display: block;
    list-style: none;
    font-size: 0;
    margin: 15px 0;
    text-align: center;
  }
  .menu ul li {
    font-size: 1.4rem;
    vertical-align: top;
    width: 20%;
    display: inline-block;
  }
  .menu ul .active {
    color: #00b8ec;
  }
  body #main #wrapPage {
    width: 100%;
  }
  .umt-index-header-home {
    width: 100%;
    padding-top: 43%;
    background: url("img/home/main-title.jpg") center;
    background-size: cover;
  }
  .umt-index-header-about {
    width: 100%;
    padding-top: 43%;
    background: url("img/about/main-title.jpg") center;
    background-size: cover;
  }
  .umt-index-header-join {
    width: 100%;
    padding-top: 43%;
    background: url("img/join/main-title.jpg") center;
    background-size: cover;
  }
}
@media screen and (min-width: 641px) {
  .umt-home-page {
    text-align: center;
    font-size: 1.8rem;
  }
  .umt-home-page .main-content {
    padding: 80px 0;
  }
  .umt-home-page .main-content .business-page {
    display: inline-block;
    width: 420px;
    height: 333px;
    background-size: 100% 100%;
    margin-right: 50px;
    vertical-align: middle;
    background-image: url("img/home/home.png");
  }
  .umt-home-page .main-content .txt {
    vertical-align: middle;
    text-align: left;
    width: 506px;
    display: inline-block;
    padding-left: 50px;
    border-left: 1px solid #e5e5e5;
    line-height: 170%;
  }
  .umt-home-page .main-content .txt .title {
    font-size: 25px;
  }
  .umt-home-page .main-content .txt .content {
    font-size: 1.8rem;
    padding: 20px 0;
    color: #666666;
  }
}
@media screen and (max-width: 640px) {
  .umt-home-page {
    background-color: white;
  }
  .umt-home-page .main-content {
    text-align: center;
  }
  .umt-home-page .main-content .business-page {
    display: inline-block;
    width: 90%;
    padding-top: 70%;
    margin: 20px 0;
    background-size: 100% 100%;
    vertical-align: middle;
    background-image: url("img/home/home.png");
  }
  .umt-home-page .main-content .txt .title {
    font-size: 2.5rem;
  }
  .umt-home-page .main-content .txt .content {
    line-height: 170%;
    text-indent: 2em;
    text-align: left;
    padding: 20px;
    color: #666;
  }
}
@media screen and (min-width: 641px) {
  .umt-about-page .item {
    padding-bottom: 40px;
  }
  .umt-about-page .item .title {
    font-size: 2.5rem;
    padding-bottom: 15px;
  }
  .umt-about-page .item .content {
    font-size: 1.6rem;
    color: #747474;
  }
  .umt-about-page .item + .item {
    padding-top: 40px;
    border-top: 1px solid #d6d6d6;
  }
  .umt-about-page .app-info {
    border-top: 1px solid #d6d6d6;
    padding-top: 40px;
  }
  .umt-about-page .app-info .title2 {
    margin-bottom: 20px;
  }
  .umt-about-page .app-info .app-title {
    font-size: 2rem;
    color: black;
  }
  .umt-about-page .app-info .app-item {
    padding-left: 57px;
  }
  .umt-about-page .app-info .app-item + .app-item {
    margin-top: 40px;
  }
  .umt-about-page .app-info .icon_app {
    float: left;
    margin-left: -57px;
    display: inline-block;
    width: 47px;
    height: 47px;
    background-size: 400% 100%;
    background-image: url("img/about/app.png");
  }
  .umt-about-page .app-info .app1 {
    background-position: 100% 0;
  }
  .umt-about-page .app-info .app2 {
    background-position: 200% 0;
  }
  .umt-about-page .app-info .app3 {
    background-position: 300% 0;
  }
  .umt-about-page .app-info .app4 {
    background-position: 0 0;
  }
  .umt-about-page .introduce {
    line-height: 180%;
  }
  .umt-about-page .history .h-item {
    height: 90px;
    position: relative;
  }
  .umt-about-page .history .h-item:last-child {
    height: auto;
  }
  .umt-about-page .history .h-item .year {
    float: left;
    color: black;
    line-height: 3rem;
  }
  .umt-about-page .history .h-item .h-msg {
    display: block;
    padding-left: 70px;
    line-height: 3rem;
  }
  .umt-about-page .history .h-item + .h-item:before {
    content: '';
    display: inline-block;
    position: absolute;
    background: #d6d6d6;
    width: 1px;
    height: 67px;
    top: -64px;
    left: 22px;
  }
  .umt-about-page .hope {
    padding-bottom: 30px;
  }
  .umt-about-page .hope .hope-item {
    display: inline-block;
    width: 100%;
  }
  .umt-about-page .hope .hope-item .hope-pic {
    display: block;
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
  }
  .umt-about-page .hope .hope-item .pic1 {
    background-image: url("img/about/hope1.jpg");
  }
  .umt-about-page .hope .hope-item .hope-title {
    font-size: 2rem;
    padding: 10px 0;
  }
  .umt-about-page .map .map-pic {
    height: 420px;
    margin: 25px 0;
  }
  .umt-about-page .map .map-msg {
    margin: 15px 0;
  }
  .umt-about-page .map .map-msg span {
    color: black;
  }
  .umt-about-page .map .map-msg a {
    color: #42c1f1;
    text-decoration: underline;
  }
  .rule-page {
    line-height: 270%;
    padding-bottom: 50px;
  }
  .rule-page .terms .phase {
    padding-left: 2rem;
  }
  .rule-page .terms .phase1 {
    padding-left: 3.1rem;
  }
  .rule-page .terms .phase1 span {
    float: left;
    margin-left: -3.1rem;
  }
  .rule-page .terms .phase2 {
    padding-left: 6rem;
  }
  .rule-page .terms .phase2 span {
    float: left;
    margin-left: -4rem;
  }
  .rule-page .terms .phase3:before {
    content: '';
    display: inline-block;
    width: 3.2rem;
  }
  .rule-page .terms .black {
    color: black;
    margin: 0;
  }
  .rule-page .terms .worked {
    font-size: 1.6rem;
  }
  .rule-page .law .black {
    color: black;
  }
  .rule-page .law .phase:before {
    content: '';
    display: inline-block;
    width: 2.6rem;
  }
  .rule-page .law .phase1 {
    padding-left: 1rem;
  }
  .rule-page .law .phase1 span {
    margin-left: -1rem;
  }
  .rule-page .privacy .content > div:before {
    content: '';
    display: inline-block;
    width: 2.6rem;
  }
}
@media screen and (max-width: 640px) {
  .umt-about-page .item {
    background: white;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  .umt-about-page .item .title {
    font-size: 2rem;
    text-align: center;
    padding: 15px 0;
  }
  .umt-about-page .content {
    color: #747474;
    padding: 0 15px;
  }
  .umt-about-page .app-info .title2 {
    text-align: center;
    padding: 15px 0;
  }
  .umt-about-page .app-info .app-title {
    font-size: 1.7rem;
    color: black;
  }
  .umt-about-page .app-info .app-item {
    line-height: 180%;
    color: #747474;
    padding: 0 15px;
  }
  .umt-about-page .app-info .app-item + .app-item {
    margin-top: 20px;
  }
  .umt-about-page .app-info .icon_app {
    display: none;
  }
  .umt-about-page .introduce {
    line-height: 180%;
  }
  .umt-about-page .history .h-item {
    position: relative;
  }
  .umt-about-page .history .h-item .year {
    display: block;
    color: black;
  }
  .umt-about-page .history .h-item .h-msg {
    display: block;
    line-height: 2rem;
    margin-bottom: 20px;
  }
  .umt-about-page .mobile-hide {
    display: none;
  }
  .umt-about-page .hope {
    text-align: center;
    padding: 0;
  }
  .umt-about-page .hope .hope-item {
    display: inline-block;
    width: 100%;
  }
  .umt-about-page .hope .hope-item .hope-pic {
    display: block;
    width: 100%;
    padding-top: 45%;
    background-size: 100% 100%;
  }
  .umt-about-page .hope .hope-item .pic1 {
    background-image: url("img/about/hope1.jpg");
  }
  .umt-about-page .hope .hope-item .hope-title {
    color: black;
    font-size: 1.7rem;
    padding: 10px 0;
  }
  .umt-about-page .map {
    padding: 0;
  }
  .umt-about-page .map .map-pic {
    height: 55vh;
  }
  .umt-about-page .map .map-msg {
    margin: 15px 0;
    padding: 0 15px;
  }
  .umt-about-page .map .map-msg span {
    color: black;
  }
  .umt-about-page .map .map-msg a {
    color: #42c1f1;
    text-decoration: underline;
  }
  .rule-page {
    line-height: 180%;
  }
  .rule-page .item .title {
    font-size: 1.8rem;
    text-align: left;
    padding: 10px 15px;
  }
  .rule-page .terms .item:first-child {
    display: none;
  }
  .rule-page .terms .phase {
    padding-left: 2rem;
  }
  .rule-page .terms .phase1 {
    padding-left: 3rem;
  }
  .rule-page .terms .phase1 span {
    float: left;
    margin-left: -3rem;
  }
  .rule-page .terms .phase2 {
    padding-left: 4rem;
  }
  .rule-page .terms .phase2 span {
    float: left;
    margin-left: -4rem;
  }
  .rule-page .terms .phase3:before {
    content: '';
    display: inline-block;
    width: 3.2rem;
  }
  .rule-page .terms .black {
    color: black;
    margin: 0;
  }
  .rule-page .terms .worked {
    background: white;
    padding: 15px;
    margin: -10px 0 10px;
    font-size: 1.6rem;
  }
  .rule-page .law .item:first-child .title {
    text-align: center;
  }
  .rule-page .law .black {
    color: black;
  }
  .rule-page .law .phase {
    text-indent: 2em;
    word-break: break-all;
  }
  .rule-page .law .phase1 {
    padding-left: 1rem;
  }
  .rule-page .law .phase1 span {
    margin-left: -1rem;
  }
  .rule-page .privacy .content > div {
    text-indent: 2em;
  }
  .rule-page .privacy .content > div:nth-child(2) {
    margin-top: 15px;
  }
}
@media screen and (min-width: 641px) {
  .umt-help-page .item {
    padding: 40px 0;
  }
  .umt-help-page .item .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .umt-help-page .item .content {
    font-size: 1.6rem;
    color: #747474;
    line-height: 250%;
  }
  .umt-help-page .item .content > div {
    margin-bottom: 20px;
  }
  .umt-help-page .item + .item {
    border-top: 1px solid #d6d6d6;
  }
}
@media screen and (max-width: 640px) {
  .umt-help-page .item {
    background: white;
    padding: 15px;
    margin: 10px 0;
  }
  .umt-help-page .item .title {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .umt-help-page .item .content {
    color: #747474;
    line-height: 180%;
  }
  .umt-help-page .item .content div {
    text-indent: 2em;
  }
}
@media screen and (min-width: 641px) {
  .umt-business-rule-page {
    color: #666;
    padding-bottom: 200px;
    font-size: 16px;
  }
  .umt-business-rule-page .big-title {
    font-size: 24px;
    color: black;
  }
  .umt-business-rule-page .top-title {
    border-top: 1px solid #d6d6d6;
    padding-top: 25px;
    margin-top: 25px;
  }
  .umt-business-rule-page .small-title {
    display: block;
    color: black;
    font-size: 20px;
    margin: 25px 0;
  }
  .umt-business-rule-page .phase {
    line-height: 200%;
    text-indent: 2em;
  }
  .umt-business-rule-page .process .top-title {
    margin-bottom: 20px;
  }
  .umt-business-rule-page .process .phase2 {
    margin: 50px 0;
    font-size: 16px;
  }
  .umt-business-rule-page .process .phase2 .step {
    vertical-align: middle;
    margin-right: 10px;
  }
  .umt-business-rule-page .process .phase3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    line-height: 200%;
  }
  .umt-business-rule-page .process .phase3 + .step {
    vertical-align: middle;
    margin: 0 41px;
  }
  .umt-business-rule-page .process .step {
    display: inline-block;
    width: 17px;
    height: 21px;
    background-size: 100% 100%;
    background-image: url("img/business/step-rule.png");
  }
  .umt-business-rule-page .about .big-title {
    margin-bottom: 20px;
  }
  .umt-business-rule-page .protocol {
    line-height: 200%;
  }
  .umt-business-rule-page .protocol .p1 {
    padding-left: 3.1rem;
  }
  .umt-business-rule-page .protocol .p1 span {
    float: left;
    margin-left: -3.1rem;
  }
  .umt-business-rule-page .protocol .p2 {
    padding-left: 6rem;
  }
  .umt-business-rule-page .protocol .p2 span {
    float: left;
    margin-left: -4rem;
  }
}
@media screen and (max-width: 640px) {
  .umt-business-rule-page {
    color: #666;
  }
  .umt-business-rule-page .big-title {
    font-size: 2rem;
    color: black;
    background: white;
    text-align: center;
    padding-top: 15px;
  }
  .umt-business-rule-page .top-title {
    padding-top: 15px;
    margin-top: 10px;
  }
  .umt-business-rule-page .small-title {
    display: block;
    color: black;
    font-size: 1.6rem;
    margin: 15px 0;
  }
  .umt-business-rule-page .phase {
    line-height: 200%;
    text-indent: 2em;
    padding: 10px;
    background: white;
  }
  .umt-business-rule-page .process .top-title {
    padding-bottom: 15px;
  }
  .umt-business-rule-page .process .phase2 {
    background: white;
    padding: 20px  10px;
    line-height: 21px;
  }
  .umt-business-rule-page .process .phase2 .step {
    vertical-align: -4px;
    margin-right: 10px;
  }
  .umt-business-rule-page .process .step {
    display: inline-block;
    width: 17px;
    height: 21px;
    background-size: 100% 100%;
    background-image: url("img/business/step-rule.png");
  }
  .umt-business-rule-page .process .step:nth-of-type(2) {
    display: none;
  }
  .umt-business-rule-page .process .coop {
    background: white;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 15px;
    font-size: 1rem;
  }
  .umt-business-rule-page .process .coop .phase3 {
    width: 45%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
  }
  .umt-business-rule-page .intro {
    margin-bottom: 10px;
  }
  .umt-business-rule-page .intro .big-title {
    padding-bottom: 15px;
  }
  .umt-business-rule-page .intro .small-title {
    background: white;
    padding: 0 10px;
    margin: 0;
  }
  .umt-business-rule-page .question {
    background: white;
    margin-bottom: 10px;
  }
  .umt-business-rule-page .question .small-title {
    padding: 0 10px;
    margin-bottom: 0;
  }
  .umt-business-rule-page .protocol {
    background: white;
    line-height: 200%;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .umt-business-rule-page .protocol .p1 {
    padding-left: 3.1rem;
  }
  .umt-business-rule-page .protocol .p1 span {
    float: left;
    margin-left: -3.1rem;
  }
  .umt-business-rule-page .protocol .p2 {
    padding-left: 4rem;
  }
  .umt-business-rule-page .protocol .p2 span {
    float: left;
    margin-left: -4rem;
  }
}
