.umt-editor {
  line-height: normal;
}
.umt-editor > .item.template {
  display: none;
}
.umt-editor > .item > .tool-min {
  display: inline-block;
  width: 26px;
  height: 26px;
  border: 1px solid #188EEB;
  vertical-align: top;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
}
.umt-editor > .item > .tool-min.show {
  width: 140px;
}
.umt-editor > .item > .tool-min.show > .handle > i {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.umt-editor > .item > .tool-min > .handle {
  background-color: #188EEB;
}
.umt-editor > .item > .tool-min > i {
  vertical-align: middle;
  margin: 0 10px;
  cursor: pointer;
}
.umt-editor > .item > .content {
  position: relative;
  text-align: center;
  margin: 10px 0;
  border: 2px dotted #ebebeb;
  border-radius: 5px;
}
.umt-editor > .item > .content > .remove {
  position: absolute;
  right: 0;
  border-bottom-left-radius: 25px;
  background-color: red;
}
.umt-editor > .item > .content > .remove > i {
  margin: -2px -5px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.umt-editor > .item > .content > textarea {
  display: none;
  width: 100%;
  height: 80px;
  max-width: 100%;
  line-height: 20px;
  border: none;
  font-size: 14px;
  font-family: inherit;
  background-color: #f3f6f8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 640px) {
  .umt-editor > .item > .content > textarea {
    padding: 10px;
  }
}
@media screen and (min-width: 641px) {
  .umt-editor > .item > .content > textarea {
    padding: 20px;
  }
}
.umt-editor > .item > .content .upload {
  display: none;
  max-width: 100%;
}
.umt-editor > .item > .content .upload > label {
  display: inline-block;
  text-align: inherit;
  width: 100%;
  padding: initial;
  margin: initial;
  border-radius: 5px;
  background-color: #f3f6f8;
}
.umt-editor > .item > .content .upload > label.show-preview > i,
.umt-editor > .item > .content .upload > label.show-preview > .notice {
  display: none;
}
.umt-editor > .item > .content .upload > label.show-preview > img,
.umt-editor > .item > .content .upload > label.show-preview > video {
  display: inherit;
}
.umt-editor > .item > .content .upload > label > i {
  margin-top: 50px;
}
.umt-editor > .item > .content .upload > label > .notice {
  display: block;
  margin: 20px 0;
  color: #666;
}
.umt-editor > .item > .content .upload > label > input[type="file"] {
  display: none;
}
.umt-editor > .item > .content .upload > label > img,
.umt-editor > .item > .content .upload > label > video {
  display: none;
  max-width: 100%;
  vertical-align: top;
}
@media screen and (max-width: 640px) {
  .umt-editor > .item > .content .upload .desc {
    margin: 10px 0;
  }
}
@media screen and (min-width: 641px) {
  .umt-editor > .item > .content .upload .desc {
    margin: 10px 0 20px;
  }
}
.umt-editor > .item.show-text .type-text,
.umt-editor > .item.show-img .type-img,
.umt-editor > .item.show-video .type-video {
  display: block;
}
.umt-editor > .item .icon-close {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
}
.umt-editor > .item .icon-close > i {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.umt-editor > .item .icon-close > i:before,
.umt-editor > .item .icon-close > i:after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border: solid #fff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.umt-editor > .item .icon-close > i:before {
  top: 5px;
  left: 5px;
  border-width: 0 2px 2px 0;
}
.umt-editor > .item .icon-close > i:after {
  right: 5px;
  bottom: 5px;
  border-width: 2px 0 0  2px;
}
.umt-editor > .tool {
  text-align: center;
}
.umt-editor > .tool > .operate {
  display: inline-block;
  width: 120px;
  max-width: 30%;
  margin-top: 10px;
  color: #5e5e5e;
  cursor: pointer;
}
.umt-editor .icon_editor {
  display: inline-block;
  background-size: 600% 100%;
  background-image: url(icon_editor.png);
}
.umt-editor .editor_text_gray {
  width: 36px;
  height: 25px;
  background-position: 0 0;
}
.umt-editor .editor_image_gray {
  width: 36px;
  height: 25px;
  background-position: -100% 0;
}
.umt-editor .editor_movie_gray {
  width: 36px;
  height: 25px;
  background-position: -200% 0;
}
.umt-editor .editor_text {
  width: 29px;
  height: 20px;
  background-position: -300% 0;
}
.umt-editor .editor_image {
  width: 29px;
  height: 20px;
  background-position: -400% 0;
}
.umt-editor .editor_movie {
  width: 29px;
  height: 20px;
  background-position: -500% 0;
}
.umt-article > div {
  margin-bottom: 10px;
}
.umt-article > div:last-child {
  margin-bottom: 0;
}
.umt-article > .article-text > pre {
  line-height: 1.5;
  margin: 0;
  color: #666;
  font-family: inherit;
  white-space: pre-wrap;
}
.umt-article > .article-media {
  text-align: center;
  padding: 5px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}
.umt-article > .article-media > .content {
  display: block;
  border-radius: 5px;
}
.umt-article > .article-media > .content > img,
.umt-article > .article-media > .content > video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  border-radius: 5px;
}
.umt-article > .article-media > .desc {
  padding-top: 5px;
}
