html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  background-color: #ededed;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
input[type="text"],
input[type="date"],
input[type="time"] {
  height: 32px;
}
select,
input,
textarea {
  min-height: 32px;
  padding: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-family: inherit;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="time"],
select {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.ui-profile {
  border-radius: 5px;
}
#header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #cfcfcf;
  z-index: 1;
}
#header > .center {
  width: 1200px;
  line-height: 80px;
  margin: auto;
}
#header > .center > .logo {
  display: inline-block;
  width: 144px;
  height: 44px;
  background: url(img/pc/logo.jpg);
  background-size: contain;
  vertical-align: middle;
}
#header > .center > .menu {
  position: relative;
  float: right;
  font-size: 20px;
}
#header > .center > .menu > .link > a {
  display: inline-block;
  cursor: pointer;
}
#header > .center > .menu > .link > a:hover,
#header > .center > .menu > .link > a.current {
  color: #00b7ee;
}
#header > .center > .menu > .link > a + a {
  margin-left: 33px;
}
#header > .center > .menu > .sign-up {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 100px;
  line-height: 40px;
  margin-left: 80px;
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #FF7900;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#header > .center > .menu > input {
  display: none;
}
#header > .center > .menu > input:checked + .qr-code {
  display: block;
}
#header > .center > .menu > .qr-code {
  display: none;
  position: absolute;
  right: 0;
  text-align: center;
  width: 250px;
  line-height: normal;
  padding: 10px 0;
  font-size: 16px;
  background-color: #fff;
}
#header > .center > .menu > .qr-code > img {
  max-width: 100%;
}
#header > .center > .menu > .qr-code > img + span {
  margin-top: -10px;
}
#header > .center > .menu > .qr-code > span {
  display: block;
}
#main {
  min-height: 800px;
  padding-top: 80px;
}
#main > div:not(.show) {
  display: none;
}
#main > .welcome {
  text-align: center;
  height: 980px;
  background: url(img/pc/scene1.jpg) center;
  background-size: cover;
}
#main > .welcome > .slogan {
  padding-top: 340px;
  font-size: 60px;
  color: #fff;
}
#main > .welcome > .slogan > .detail {
  display: block;
  margin-top: 40px;
  font-size: 20px;
  color: #00b7ee;
}
#main > .feature {
  margin-top: -80px;
}
#main > .feature > div {
  max-width: 100%;
  height: 980px;
  background-position: center;
  background-size: cover;
}
#main > .feature > .shortcut {
  position: fixed;
  top: 50%;
  right: 50px;
  line-height: 1.5;
}
#main > .feature > .shortcut > a {
  display: block;
}
#main > .feature > .shortcut > a > span {
  visibility: hidden;
  color: #00b7ee;
}
#main > .feature > .shortcut > a:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #cdcdcd;
}
#main > .feature > .shortcut > a:hover:after,
#main > .feature > .shortcut > a.current:after {
  background-color: #00b7ee;
  box-shadow: 0 0 2px 2px rgba(0, 183, 238, 0.5);
}
#main > .feature > .shortcut > a:hover > span {
  visibility: visible;
}
#main > .feature #feature1 {
  background-image: url(img/pc/scene2_1.jpg);
}
#main > .feature #feature2 {
  background-image: url(img/pc/scene2_2.jpg);
}
#main > .feature #feature3 {
  background-image: url(img/pc/scene2_3.jpg);
}
#main > .feature #feature4 {
  background-image: url(img/pc/scene2_4.jpg);
}
#main > .feature #feature5 {
  background-image: url(img/pc/scene2_5.jpg);
}
#main > .feature #feature6 {
  background-image: url(img/pc/scene2_6.jpg);
}
#main > .feature #feature7 {
  background-image: url(img/pc/scene2_7.jpg);
}
#main > .feature #feature8 {
  background-image: url(img/pc/scene2_8.jpg);
}
#main > .company > .caption {
  height: 350px;
  padding-top: 150px;
  background: url(img/pc/scene3_1.jpg) center no-repeat;
  background-size: cover;
}
#main > .company > .caption:first-child {
  display: none;
}
#main > .company > .caption .detail {
  line-height: 2;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
}
#main > .company > .center > .process {
  position: relative;
  margin-left: 50px;
  padding: 60px 0;
  border-left: 1px solid #d4d4d4;
}
#main > .company > .center > .process > img {
  position: absolute;
  top: -5px;
  left: -9px;
}
#main > .company > .center > .process > div {
  margin-left: -40px;
  line-height: 54px;
  padding-left: 70px;
  white-space: nowrap;
}
#main > .company > .center > .process > div + div {
  margin-top: 20px;
}
#main > .company > .center > .process > div > .date {
  display: inline-block;
  vertical-align: middle;
  line-height: 27px;
  margin: 0 20px 0 -70px;
  padding: 0 8px;
  border-radius: 3px;
  color: #fff;
  background-color: #00b7ee;
}
#main > .company > .center > .process > div > .event {
  display: inline-block;
  vertical-align: middle;
  line-height: 27px;
  font-size: 16px;
  white-space: normal;
}
#main > .company > .outlook {
  padding: 90px 0;
  background-color: #f6f6f6;
}
#main > .company > .outlook > .center {
  text-align: center;
}
#main > .company > .outlook > .center > div {
  text-align: left;
  display: inline-block;
}
#main > .company > .outlook > .center > div + div {
  margin-left: 150px;
}
#main > .company > .outlook > .center > div > .title {
  padding: 20px 0 10px;
  font-size: 24px;
}
#main > .company > .outlook > .center > div > .desc {
  font-size: 18px;
  color: #333;
}
#main > .company > .contact {
  padding: 60px 0 80px;
}
#main > .company > .contact > .center > .label {
  color: #000;
}
#main > .company > .contact > .center > .label + div {
  padding: 15px 0 0 15px;
  font-size: 18px;
}
#main > .company > .contact > .center > .detail > div {
  display: inline-block;
  text-align: center;
  width: 33%;
}
#main > .company > .contact > .center > .detail > div > .block {
  line-height: 60px;
  padding: 60px 0 30px;
}
#main > .company > .contact > .center > .detail > div > .block > img {
  vertical-align: middle;
}
#main > .company > .contact > .center > .detail > div > .title {
  font-size: 24px;
}
#main > .company > .contact > .center > .detail > div > .desc {
  font-size: 18px;
}
#main > .company .center {
  width: 1200px;
  margin: auto;
  padding-left: 100px;
}
#main > .company .label {
  font-size: 30px;
  color: #fff;
}
#main > .company .label:before {
  content: "";
  margin-right: 10px;
  border-left: 5px solid #00b7ee;
}
#main > .about {
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
#main > .about > .caption {
  height: 350px;
  padding-top: 150px;
  background: url(img/pc/scene3_1.jpg) center no-repeat;
  background-size: cover;
}
#main > .about > .caption > .label {
  text-align: center;
  font-size: 40px;
  color: #fff;
}
#main > .about > .center {
  width: 1200px;
  margin: -100px auto 0;
}
#main > .about > .center > .menu {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 250px;
  line-height: 40px;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  background-color: #00b7ee;
}
#main > .about > .center > .menu > a {
  display: block;
}
#main > .about > .center > .menu > a:not(.current) {
  color: rgba(255, 255, 255, 0.6);
}
#main > .about > .center > .content {
  display: inline-block;
  width: 950px;
  min-height: 240px;
  background-color: #fff;
}
#main > .about > .center > .content > div:not(.show) {
  display: none;
}
#footer {
  padding: 20px 0 30px;
  border-top: 1px solid #ebebeb;
  color: #666;
  background-color: #fafafa;
}
#footer > .center {
  width: 1200px;
  margin: auto;
}
#footer > .center > .contact {
  float: right;
  text-align: right;
}
#footer > .center > .contact > .title {
  color: #188fee;
}
#footer > .center > .contact > .phone {
  font-size: 30px;
}
#footer > .center > .about-list {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}
#footer > .center > .about-list > li {
  display: inline-block;
  padding-right: 20px;
}
#footer > .center > .about-list > li + li {
  padding-left: 20px;
  border-left: 1px solid gray;
}
#footer > .center > .about-list > li > a {
  cursor: pointer;
}
#footer > .center > .project {
  position: relative;
}
#footer > .center > .project > .link {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 440px;
  height: 100%;
}
#footer > .center > .project > .link > a {
  display: inline-block;
  width: 24%;
  height: 100%;
}
#footer > .center > .project > .link > a:nth-child(2) {
  width: 23%;
}
#footer > .center > .project > .link > a:nth-child(4) {
  width: 29%;
}
#footer > .center > .copyright {
  padding-top: 10px;
}
#mask {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: hidden;
}
#mask > .ctn {
  position: relative;
  display: inline-block;
  min-width: 400px;
  margin-top: 20%;
  padding: 30px 0;
  border-radius: 5px;
  background-color: #fff;
}
#mask > .ctn > .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 17px;
  height: 19px;
  background-image: url(img/close.png);
  cursor: pointer;
}
#mask > .ctn > .title {
  padding-bottom: 20px;
  font-size: 18px;
}
#mask > .ctn > form > div + div {
  margin-top: 20px;
}
#mask > .ctn > form > div input {
  min-width: 250px;
  margin-left: 10px;
}
#mask > .ctn > .result {
  display: none;
}
#mask > .ctn > .result.success {
  display: block;
}
#mask > .ctn > .result.success ~ div,
#mask > .ctn > .result.success ~ form {
  display: none;
}
#mask > .ctn > .result > .tip {
  display: inline-block;
  width: 129px;
  height: 100px;
  margin-top: 15px;
  background-image: url(img/success.png);
}
#mask > .ctn > .result > .desc {
  padding-top: 8px;
}
#mask > .ctn button {
  min-width: 280px;
  margin-top: 30px;
  padding: 10px 0;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #FF7900;
  cursor: pointer;
}
.icon {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 5px;
  background-image: url(img/apply.png);
}
.icon_organ {
  width: 18px;
  height: 17px;
  background-position: 0px 0px;
}
.icon_tel {
  width: 18px;
  height: 18px;
  background-position: -26px 0px;
}
.icon_user {
  width: 18px;
  height: 18px;
  background-position: -52px 0px;
}
