html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  background-color: #ededed;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
input[type="text"],
input[type="date"],
input[type="time"] {
  height: 32px;
}
select,
input,
textarea {
  min-height: 32px;
  padding: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-family: inherit;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="time"],
select {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.ui-profile {
  border-radius: 5px;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 40px;
  line-height: 12.5vw;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 #cfcfcf;
  z-index: 1;
}
#header > .center > .logo {
  display: inline-block;
  margin-left: 3.4375%;
  padding: 4.375%;
  background: url(img/app/logo.jpg) no-repeat;
  background-size: contain;
  vertical-align: middle;
}
#header > .center > .menu {
  float: right;
  position: relative;
  margin-right: 3.4375%;
}
#header > .center > .menu > .link {
  position: absolute;
  top: 100%;
  right: 0;
  line-height: 32px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(20, 20, 20, 0.8);
  z-index: 1;
}
#header > .center > .menu > .link > a {
  display: block;
  min-width: 60px;
}
#header > .center > .menu > .link > a + a {
  border-top: 1px solid #cfcfcf;
}
#header > .center > .menu > .link > a:nth-child(2) {
  display: none;
}
#header > .center > .menu > .sign-up {
  display: inline-block;
  line-height: normal;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #FF7900;
}
#header > .center > .menu > .qr-code {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: center;
  line-height: normal;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 2px 0 #FF7900;
}
#header > .center > .menu > .qr-code > img {
  width: 150px;
}
#header > .center > .menu > .qr-code > span {
  display: block;
}
#header > .center > .menu > .menu-btn {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 22px;
  background-image: url(img/app/menu.jpg);
  background-size: contain;
}
#header > .center > .menu > input {
  opacity: 0;
  vertical-align: top;
  width: 0;
  line-height: normal;
}
#header > .center > .menu > input:not(:checked) + span {
  display: none;
}
#main {
  padding-top: 40px;
  padding-top: 12.5vw;
}
#main > div:not(.show) {
  display: none;
}
#main > .welcome {
  position: relative;
  padding: 40% 0;
  background: url(img/app/scene1.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
}
#main > .welcome > .slogan {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}
#main > .welcome > .slogan > .detail {
  display: none;
}
#main > .welcome.show + .feature {
  display: block;
}
#main > .welcome.show + .feature > .shortcut {
  display: none;
}
#main > .feature {
  padding: 300% 0;
  background: url(img/app/scene2.jpg) center no-repeat;
  background-size: cover;
}
#main > .company > .caption {
  padding: 40% 0;
  background: url(img/app/scene3.jpg) center no-repeat;
  background-size: cover;
}
#main > .company > .caption + .caption {
  display: none;
}
#main > .company > .caption > .label {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  color: #fff;
}
#main > .company > .center > .process {
  position: relative;
  margin-left: 50px;
  padding: 20px 0;
  border-left: 1px solid #d4d4d4;
}
#main > .company > .center > .process > img {
  position: absolute;
  top: -5px;
  left: -9px;
}
#main > .company > .center > .process > div {
  margin-left: -50px;
  line-height: 54px;
  padding: 0 20px 0 85px;
  white-space: nowrap;
}
#main > .company > .center > .process > div + div {
  margin-top: 20px;
}
#main > .company > .center > .process > div > .date {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 65px;
  line-height: 27px;
  margin: 0 10px 0 -75px;
  border-radius: 3px;
  color: #fff;
  background-color: #00b7ee;
}
#main > .company > .center > .process > div > .event {
  display: inline-block;
  vertical-align: middle;
  line-height: 2;
  white-space: normal;
}
#main > .company > .outlook {
  padding: 3.4375%;
  background-color: #ededed;
}
#main > .company > .outlook > .center > div {
  background-color: #fff;
}
#main > .company > .outlook > .center > div + div {
  margin-top: 3.4375%;
}
#main > .company > .outlook > .center > div > img {
  width: 100%;
}
#main > .company > .outlook > .center > div > .title {
  padding: 10px 10px 0;
}
#main > .company > .outlook > .center > div > .desc {
  padding: 0 10px 10px;
}
#main > .company > .contact {
  padding: 3.4375%;
}
#main > .company > .contact > .center > .label {
  font-size: 1.5rem;
  color: #000;
}
#main > .company > .contact > .center > .detail > div {
  line-height: 50px;
}
#main > .company > .contact > .center > .detail > div > .block {
  width: 30px;
}
#main > .company > .contact > .center > .detail > div > .block > img {
  vertical-align: middle;
  width: 20px;
}
#main > .company > .contact > .center > .detail > div > .title {
  display: none;
}
#main > .company > .contact > .center > .detail > div > div {
  display: inline-block;
}
#main > .about > .caption,
#main > .about > .center > .menu {
  display: none;
}
#main > .about > .center > .content > div:not(.show) {
  display: none;
}
#footer {
  text-align: center;
  border-top: 10px solid #ededed;
}
#footer > .center > .contact {
  display: none;
}
#footer > .center > .about-list {
  line-height: 40px;
  margin: 0;
  padding: 0;
  border-bottom: 10px solid #ededed;
  list-style: none;
}
#footer > .center > .about-list > li {
  text-align: left;
  padding: 0 3.4375%;
}
#footer > .center > .about-list > li + li {
  border-top: 1px solid #d4d4d4;
}
#footer > .center > .about-list > li > a {
  display: block;
}
#footer > .center > .about-list > li > a:after {
  content: "";
  float: right;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  border: solid #d4d4d4;
  border-width: 2px 2px 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#footer > .center > .project {
  position: relative;
  padding-top: 10px;
}
#footer > .center > .project > img {
  vertical-align: top;
  width: 90%;
}
#footer > .center > .project > .link {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 90%;
  height: 100%;
}
#footer > .center > .project > .link > a {
  display: inline-block;
  width: 24%;
  height: 100%;
}
#footer > .center > .project > .link > a:nth-child(2) {
  width: 23%;
}
#footer > .center > .project > .link > a:nth-child(4) {
  width: 29%;
}
#footer > .center > .copyright {
  margin-top: 5px;
  padding-bottom: 10px;
  font-size: 1rem;
}
#footer > .center > .copyright > span {
  display: block;
}
#mask {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: hidden;
}
#mask > .ctn {
  position: relative;
  display: inline-block;
  min-width: 320px;
  margin-top: 40%;
  padding: 15px 0;
  border-radius: 5px;
  background-color: #fff;
}
#mask > .ctn > .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 17px;
  height: 19px;
  background-image: url(img/close.png);
  cursor: pointer;
}
#mask > .ctn > .title {
  padding-bottom: 10px;
  font-size: 1.8rem;
}
#mask > .ctn > form > div + div {
  margin-top: 10px;
}
#mask > .ctn > form > div input {
  min-width: 200px;
  margin-left: 5px;
}
#mask > .ctn > .result {
  display: none;
}
#mask > .ctn > .result.success {
  display: block;
}
#mask > .ctn > .result.success ~ div,
#mask > .ctn > .result.success ~ form {
  display: none;
}
#mask > .ctn > .result > .tip {
  display: inline-block;
  width: 129px;
  height: 100px;
  margin-top: 15px;
  background-image: url(img/success.png);
}
#mask > .ctn > .result > .desc {
  margin: 8px 0 16px;
}
#mask > .ctn button {
  min-width: 200px;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 1.6rem;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #FF7900;
  cursor: pointer;
}
.icon {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 5px;
  background-image: url(img/apply.png);
}
.icon_organ {
  width: 18px;
  height: 17px;
  background-position: 0px 0px;
}
.icon_tel {
  width: 18px;
  height: 18px;
  background-position: -26px 0px;
}
.icon_user {
  width: 18px;
  height: 18px;
  background-position: -52px 0px;
}
