html {
  font-size: 62.5%;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-size: 1.4rem;
  font-family: "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif;
  background-color: #ededed;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
input[type="text"],
input[type="date"],
input[type="time"] {
  height: 32px;
}
select,
input,
textarea {
  min-height: 32px;
  padding: 5px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  font-family: inherit;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="time"],
select {
  -webkit-appearance: none;
}
.hide {
  display: none;
}
.ui-profile {
  border-radius: 5px;
}
.main-page {
  text-align: center;
}
.main-page .header {
  border-top: 10px solid #166177;
  border-bottom: 10px solid #166177;
}
.main-page .header:before {
  content: '';
  display: inline-block;
  background: url("img/header-icon.jpg") center no-repeat;
  background-size: 100% 100%;
  vertical-align: top;
}
.main-page .header:after {
  content: '';
  display: inline-block;
  background: url("img/header-text.png") center no-repeat;
  background-size: 100% 100%;
}
.main-page .item .title {
  color: #38839b;
}
.main-page .whatUMT {
  color: white;
}
.main-page .whatUMT .icon {
  display: inline-block;
  background: url("img/what-icon.png") center no-repeat;
  background-size: 100% 100%;
}
.main-page .whatUMT .content {
  line-height: 1.8;
  display: inline-block;
}
.main-page .step .step-item {
  vertical-align: top;
  display: inline-block;
}
.main-page .step .step-item .step-icon {
  display: inline-block;
  background: url("img/apply.png");
  background-size: 400% 100%;
}
.main-page .step .step-item .step-icon-1 {
  background-position: 100% 0;
}
.main-page .step .step-item .step-icon-2 {
  background-position: 200% 0;
}
.main-page .step .step-item .step-icon-3 {
  background-position: 0 0;
}
.main-page .step .step-item .step-icon-4 {
  background-position: 300% 0;
}
.main-page .step .step-item .step-title {
  padding: 5px 0;
}
.main-page .step .step-item .step-msg {
  color: #7c7c7c;
}
.main-page .step .step-item + .step-item {
  position: relative;
}
.main-page .step .step-item + .step-item:after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #dcdcdc;
  border-right: 2px solid #dcdcdc;
}
.main-page .gain {
  background: #f7fcfb;
}
.main-page .gain .content .gain-item {
  text-align: left;
}
.main-page .gain .content .gain-item .gain-icon {
  float: left;
  display: inline-block;
  background: url("img/gain.png");
  background-size: 500% 100%;
}
.main-page .gain .content .gain-item .gain-icon-1 {
  background-position: 0 0;
}
.main-page .gain .content .gain-item .gain-icon-2 {
  background-position: 400% 0;
}
.main-page .gain .content .gain-item .gain-icon-3 {
  background-position: 300% 0;
}
.main-page .gain .content .gain-item .gain-icon-4 {
  background-position: 200% 0;
}
.main-page .gain .content .gain-item .gain-icon-5 {
  background-position: 100% 0;
}
.main-page .gain .content .gain-item .gain-title {
  margin-bottom: 5px;
}
.main-page .gain .content .gain-item .gain-msg {
  color: #656868;
}
.main-page .server .msg {
  color: #666666;
}
.main-page .server .server-item {
  color: #666666;
}
.main-page .server .server-item .server-icon {
  display: inline-block;
  background: url("img/server.png");
  background-size: 300% 100%;
}
.main-page .server .server-item .server-icon-1 {
  background-position: 0 0;
}
.main-page .server .server-item .server-icon-2 {
  background-position: 200% 0;
}
.main-page .server .server-item .server-icon-3 {
  background-position: 100% 0;
}
@media screen and (min-width: 641px) {
  .main-page {
    min-width: 1200px;
  }
  .main-page .header {
    background: url("img/pc/header.jpg") center no-repeat;
    background-size: cover;
    height: 388px;
  }
  .main-page .header:before {
    width: 177px;
    height: 125px;
  }
  .main-page .header:after {
    margin-top: 70px;
    margin-left: 50px;
    width: 387px;
    height: 237px;
  }
  .main-page .whatUMT {
    height: 304px;
    background: url("img/pc/what-bg.jpg") center no-repeat;
    background-size: cover;
  }
  .main-page .whatUMT .icon {
    margin-top: 15px;
    width: 44px;
    height: 66px;
  }
  .main-page .whatUMT .title {
    font-size: 25px;
    padding: 10px 0;
  }
  .main-page .whatUMT .content {
    width: 755px;
  }
  .main-page .item {
    padding: 40px;
  }
  .main-page .item .title {
    font-size: 25px;
    color: #38839b;
  }
  .main-page .step .step-item {
    padding: 40px 0;
  }
  .main-page .step .step-item .step-icon {
    width: 70px;
    height: 70px;
  }
  .main-page .step .step-item .step-title {
    padding: 5px 0;
  }
  .main-page .step .step-item + .step-item {
    margin-left: 30px;
  }
  .main-page .step .step-item + .step-item:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: -28px;
    top: 60px;
  }
  .main-page .gain .title {
    margin-bottom: 40px;
  }
  .main-page .gain .content {
    display: inline-block;
    width: 1000px;
  }
  .main-page .gain .content .gain-item {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    padding-left: 55px;
    margin-right: 45px;
    margin-bottom: 50px;
  }
  .main-page .gain .content .gain-item .gain-icon {
    margin-left: -55px;
    width: 45px;
    height: 45px;
  }
  .main-page .gain .content .gain-item .gain-msg {
    width: 180px;
  }
  .main-page .server {
    padding-bottom: 150px;
  }
  .main-page .server .msg {
    margin: 0 auto;
    width: 700px;
    line-height: 2;
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .main-page .server .server-item {
    display: inline-block;
    width: 300px;
    vertical-align: top;
  }
  .main-page .server .server-item .server-icon {
    width: 50px;
    height: 44px;
  }
  .main-page .server .server-item .server-msg {
    text-align: left;
    margin: auto;
    padding-top: 15px;
  }
  .main-page .server .server-item:nth-child(1) .server-msg {
    width: 130px;
  }
  .main-page .server .server-item:nth-child(2) .server-msg {
    width: 190px;
  }
  .main-page .server .server-item:nth-child(3) .server-msg {
    width: 180px;
  }
}
@media screen and (max-width: 640px) {
  .main-page {
    min-width: 100%;
  }
  .main-page .header {
    background: url("img/app/header.jpg") center no-repeat;
    background-size: 100% 100%;
    padding-bottom: 50px;
  }
  .main-page .header:before {
    padding: 15% 20%;
  }
  .main-page .header:after {
    margin-top: 20px;
    padding: 25% 40%;
  }
  .main-page .whatUMT {
    padding-bottom: 40px;
    background: url("img/app/what-bg.jpg") center no-repeat;
    background-size: 100% 100%;
  }
  .main-page .whatUMT .icon {
    margin-top: 25px;
    width: 44px;
    height: 66px;
  }
  .main-page .whatUMT .title {
    font-size: 2rem;
    padding: 10px 0;
  }
  .main-page .whatUMT .content {
    padding: 0 20px;
  }
  .main-page .item {
    padding: 20px 0;
  }
  .main-page .item .title {
    font-size: 1.7rem;
  }
  .main-page .step {
    padding-left: 20px;
    padding-right: 20px;
  }
  .main-page .step .title {
    padding-bottom: 30px;
  }
  .main-page .step .step-item {
    width: 50%;
    margin-bottom: 45px;
  }
  .main-page .step .step-item .step-icon {
    width: 50px;
    height: 50px;
  }
  .main-page .step .step-item .step-msg {
    padding: 0 10px;
  }
  .main-page .step .step-item:nth-child(3):after {
    top: 17px;
    left: -10px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .main-page .step .step-item:nth-child(4):after {
    left: 47%;
    top: -35px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .main-page .step .step-item:nth-child(5) {
    float: left;
  }
  .main-page .step .step-item:nth-child(5):after {
    top: 17px;
    right: -10px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .main-page .gain .title {
    padding-bottom: 20px;
  }
  .main-page .gain .content {
    padding: 0 20px;
  }
  .main-page .gain .content .gain-item {
    vertical-align: top;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 20px;
  }
  .main-page .gain .content .gain-item .gain-icon {
    margin-left: -40px;
    width: 30px;
    height: 30px;
  }
  .main-page .server {
    padding-bottom: 50px;
  }
  .main-page .server .msg {
    margin-top: 20px;
    padding: 0 20px;
  }
  .main-page .server .server-item {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    margin-top: 40px;
  }
  .main-page .server .server-item .server-icon {
    width: 40px;
    height: 34px;
  }
  .main-page .server .server-item .server-msg {
    margin-top: 10px;
  }
}
